<div class="containers my-24 ">
  {% paginate search.results by 6 %}

    <h2 class="md:text-[22px] font-[600] mb-8">Here is the Search result</h2>

    <div class="grid_1">
      {% for product in search.results %}
        {% render 'product-item', product: product %}
        {{ item.content | highlight: search.terms }}
      {% endfor %}
    </div>


    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>