<div class="containers mt-16">
  <h1 class="md:text-[22px] text-center text-[#1E2D7D] font-[800] mb-8">About Warehouse</h1>
  <div class="w-2/3 mx-auto text-center text-[#6792A0]">
    <p class="loading-5">Our mission statement is to provide the absolute best customer experience available in the Audio/Video industry without exception. We choose to only sell the best performing products in the world, learning them inside and out to ensure your experience with our organization and the products we supply are second to none. HiDEF Lifestyle is one of the fastest growing Audio and Video retailers in the United States.</p>
    <button class="w-[200px] mt-6 py-3 px-4 customBtn">Discover Our Brands</button>
  </div>
</div>