<div class="containers mt-16">

  <div class="flex_2">

    <div class="md:w-auto w-full bg-[#FC2A68] text-white shadow serviceBox  p-8 text-left">

      <div class="w-[150px] h-[150px]">
        <img
          src="https://skincarestudio.ge/files/products/nkw4ejCcaDFUcoRjWRUtDFVKTqe7Zg_small.png"

          class="w-full h-hull"
          alt="">
      </div>

      <h5 class="my-4 font-semibold">AM Facial Moisturizing Lotion SPF 30</h5>
      <p class="text-xs">When it comes to skin care, my routine is very much "no frills</p>
    </div>


    <div class="md:w-auto w-full bg-[#6F42EF] text-white shadow serviceBox  p-8 text-left">

      <div class="w-[150px] h-[150px]">
        <img
          src="https://media.ulta.com/i/ulta/1472989?w=1233&h=1233"
          class="w-full h-hull"
          alt="">
      </div>


      <h5 class="my-4 font-semibold">Voluminous Original Mascara</h5>
      <p class="text-xs">Mascara is the one makeup item that I truly can't live without.</p>
    </div>


    <div class="md:w-auto w-full bg-[#26C1CE] text-white shadow serviceBox  p-8 text-left">

      <div class="w-[150px] h-[150px]">
        <img
          src="https://media.ulta.com/i/ulta/2547673?w=600"
          class="w-full h-hull"
          alt="">
      </div>

      <h5 class="my-4 font-semibold">Lash Princess False Lash Effect Mascara</h5>
      <p class="text-xs">Mascara is essential for me, and this one has proven time and time again</p>
    </div>
  </div>
</div>