<div class="bg-[#ffd700] mt-16 py-16">
  <div class="containers">
    <div class="md:flex items-center gap-[6] md:h-[615px] md:overflow-hidden ">


      <div class="md:w-2/4 w-full flex flex-col gap-3">
        <div class="relative md:h-1/2 duration-300 ease-in-out hover:scale-105">
          <div>
            <img src="https://www.onlinepng.com/media/catalog/product/cache/571072fdb4ae023a8c393de549460086/m/s/ms994506_1.jpg" class="w-full h-full duration-300 ease-in-out hover:scale-105" />
          </div>
          <div class="absolute top-[20%] px-3">
            <h4 class=" text-white text-xl font-[700]">Kate Gold Plated Solitaire Mangalsutra Necklace</h4>
            <p class="text-md text-white mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis numquam sint iusto expedita culpa in!</p>
            <button class="py-2 px-4 bg-black text-white mt-4 rounded-md">SHOPE NOW</button>
          </div>
        </div>

        <div class="relative md:h-1/2 duration-300 ease-in-out hover:scale-105">
          <div>
            <img src="https://5.imimg.com/data5/SELLER/Default/2022/11/LN/YY/PT/91852146/patti-mangalsutra-pendet-500x500.jpg" class="w-full h-full duration-300 ease-in-out hover:scale-105" />
          </div>
          <div class="absolute top-[10%] px-3">
            <h4 class=" text-white text-xl font-[700]">Kate Gold Plated Solitaire Mangalsutra Necklace</h4>
            <p class="text-md text-white mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis numquam sint iusto expedita culpa in!</p>
            <button class="py-2 px-4 bg-black text-white mt-4 rounded-md">SHOPE NOW</button>
          </div>
        </div>
      </div>

      <div class="md:w-3/4 w-full h-full mx-3 relative duration-300 ease-in-out hover:scale-105">
        <div class="w-full md:h-[615px] h-[300px]">
          <img src="https://www.onlinepng.com/media/catalog/product/cache/571072fdb4ae023a8c393de549460086/r/i/rin602006_1_1.jpg" class="w-full h-full duration-300 ease-in-out hover:scale-105" />
        </div>
        <div class="absolute top-[30%] px-3">
          <h4 class=" text-white text-xl font-[700]">Kate Gold Plated Solitaire Mangalsutra Necklace</h4>
          <p class="text-md text-white mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis numquam sint iusto expedita culpa in!</p>
          <button class="py-2 px-4 bg-black text-white mt-4 rounded-md">SHOPE NOW</button>
        </div>
      </div>

      <div class="md:w-2/4 w-full flex flex-col gap-3">
        <div class="relative md:h-1/2 duration-300 ease-in-out hover:scale-105">
          <div>
            <img src="https://cdn1.jewelxy.com/live/img/business_product/95wrZ7GBOD_20211129144228.jpg" class="w-full h-full" />
          </div>
          <div class="absolute top-[20%] px-3">
            <h4 class=" text-white text-xl font-[700]">Kate Gold Plated Solitaire Mangalsutra Necklace</h4>
            <p class="text-md text-white mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis numquam sint iusto expedita culpa in!</p>
            <button class="py-2 px-4 bg-black text-white mt-4 rounded-md">SHOPE NOW</button>
          </div>
        </div>
        <div class="relative md:h-1/2 duration-300 ease-in-out hover:scale-105">
          <div>
            <img src="https://kinclimg1.bluestone.com/f_jpg,c_scale,w_828,q_80,b_rgb:f0f0f0/giproduct/BIPO0829V03_YAA18DIG6XXXXXXXX_ABCD00-PICS-00000-1024-61239.png" class="w-full h-full " />
          </div>
          <div class="absolute top-[10%] px-3">
            <h4 class=" text-black text-xl font-[700]">Kate Gold Plated Solitaire Mangalsutra Necklace</h4>
            <p class="text-md text-black mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis numquam sint iusto expedita culpa in!</p>
            <button class="py-2 px-4 bg-black text-white mt-4 rounded-md">SHOPE NOW</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>