<div class="containers mt-16">
  <div class="md:flex items-center gap-6">
    <div class="md:w-1/2 w-full flex_2 p-6 shadow">
      <div class="w-[100px] h-[100px]">
        <img
          src="https://assets.unileversolutions.com/v1/76960172.png"
          class="w-full h-full"
          alt="">
      </div>
      <div>
        <h5 class="my-4 font-semibold text-[#1E2D7D]">Exclusive offers on Pond's Light Moisturiser</h5>
        <p class="text-xs">We offer you a lot of discounts on all our Pond's Light Moisturiser</p>
      </div>
    </div>

    <div class="md:w-1/2 w-full flex_2 p-6 shadow">
      <div class="w-[100px] h-[100px]">
        <img
          src="https://warehouse-theme-metal.myshopify.com/cdn/shop/files/offer-2_2x_26b533cd-d17a-43fe-97c8-8d0af50a398c.jpg?v=1613538676&width=250"
          class="w-full h-full"
          alt="">
      </div>
      <div>
        <h5 class="my-4 font-semibold text-[#1E2D7D]">Free shipping for all orders overs $80</h5>
        <p class="text-xs">We got you covered ! We deliver your goods using UPS expedited shipping, free of charge</p>
      </div>
    </div>
  </div>
</div>