<div class="my-16 bg-black">
  <div class="containers  py-8 relative md:h-[150px] ">
    <div class="md:block hidden">
      <div class="w-[10px]  absolute h-[130%] left-0 top-[-13%] z-40 bg-white rotate-[33deg]"></div>
      <div class="w-[10px]  absolute h-[130%] left-[10%] top-[-13%] z-40 bg-white rotate-[33deg]"></div>

      <div class="w-[10px]  absolute h-[130%] right-0 top-[-13%] z-40 bg-white rotate-[33deg]"></div>
      <div class="w-[10px]  absolute h-[130%] right-[10%] top-[-13%] z-40 bg-white rotate-[33deg]"></div>
    </div>

    <div class="flex items-center justify-center">
      <div class="md:flex items-center gap-20">
        <h1 class="text-2xl font-[600] text-white md:text-right md:mb-0 mb-4">TOP FASHION <br>
          DEALS</h1>
        <button class="bg-[#333] text-white py-2 px-4 font-[600] md:mb-0 mb-4">View Sale</button>
        <div class="md:rotate-[-5deg]">
          <h2 class="bg-white text-black font-[600] p-2  md:mb-2 mb-4">Exclusive COUPON</h2>
          <div class="flex items-center">
            <span class="text-gray-500 rotate-[267deg] text-xs me-[-10px]">UPTO</span>
            <h3 class="bg-[#FF7272] py-2 px-3 text-white font-[600] text-xl">$100</h3>
            <span class="text-white font-[600]">OFF</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>